*{
  font-family: sans-serif;
}


body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: beige;
}



button{
  font-size: 1.23rem;
  font-weight: 600;
  padding: .5rem .7rem;
  outline:none;
  border:none;
  border-radius: .4rem;

  cursor: pointer;
}

.plus,.minus{
  color: #eae4e4;
}

.plus{
  background-color:#297429;
}


.plus:hover{
  background-color: #126412;
  color: #ffff;
}

.minus{
  background-color:#a93535;
}

.minus:hover{
  background-color: #a22222;
  color: #ffff;
}

p{
  font-size: 1.11rem;
  font-weight: 550;
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}