.navbar {
    height: 80px;
  
    .wrapper {
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .item {
        display: flex;
        align-items: center;
        font-size: 18px;
      }
  
      .left {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      .center {
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 700;
      }
      .right {
        display: flex;
        align-items: center;
        gap: 20px;
  
        .icons {
          display: flex;
          gap: 20px;
          color: #777;
          cursor: pointer;
          .person{
            &:hover{
              .outlinedPerson{
                display: none;
              }
              .filledPerson{
                display: inherit;
              }
            }
            .filledPerson{
              color: #2879fe;
              display: none;
            }
          }
          .hearts{
            &:hover{
              .outlinedHeart{
                display: none;
              }
              .filledHeart{
                display: inherit;
              }
            }
            .filledHeart{
            color: red;
            display: none;
            }
          }
          .cartIcon {
            position: relative;
           .iconSpan{
            &:hover{
              .outlinedIcon{
                display: none;
              }
              .filledIcon{
                display: inherit;
              }
            }
            .filledIcon{
              color: rgb(248, 172, 84);
              display: none;
            }
           }
           .cartProductAmount {
              font-size: 12px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #2879fe;
              color: white;
              position: absolute;
              right: -10px;
              top: -10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }