@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


  .footer-container {
    background-color: #f1f1f1;

    display: flex;
    flex-direction: column;

    padding: 1.3rem;
    margin: 2rem 0 0 0;


    font-family: "Poppins", sans-serif;
    .top-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 1.3rem 0;

      .left-part {
        flex: 0.8;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .logo {
          font-family: "Bruno Ace", cursive;
          line-height: 5rem;
        }

        .list-heading {
          font-size: 1rem;
          font-weight: 700;
          line-height: 2rem;
        }
        p {
          line-height: 1.44rem;
          font-size: 0.9rem;
        }
      }
      .right-part {
        display: flex;
        flex-direction: row;
        gap: 25px;

        ul {
          display: flex;
          flex-direction: column;
          gap: 8px;

          h3 {
            font-size: 1rem;
          }
          li {
            font-size: 0.9rem;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .bottom-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 1.2rem 0;

      .socials {
        display: flex;
        flex-direction: row;
        gap: 20px;

        p {
          cursor: pointer;

          &:hover{
            color:  #ff6347;
          }
        }
      }
      .copyright-text {
        color: grey;
      }

      img {
        cursor: pointer;
        width: 35%;
      }
    }
  }
// }

// @media screen and (min-width: 350px) {
//   .footer-container {
//     text-align: center;
//     .top-container {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;

//       .left-part {
//         width: 300px;
//         margin-bottom: 2rem;

//         .list-heading {
//           font-size: 0.9rem;
//         }

//         p {
//           font-size: 0.8rem;
//         }
//       }

//       .right-part {
//         display: flex;
//         flex-direction: column;
//         gap: 50px;
//         ul {
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           align-items: center;
//           gap: 15px;

//           h3{
//             font-size: 0.8rem;
//           }
//           li{
//             font-size: .7rem;
//           }
//         }
//       }
//     }

//     .bottom-container {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       gap: 10px;

//       .socials{
//        p{
//         a{
//             font-size: .8rem;
//         }
//        }  
       
//         } 

//       .copyright-text {
//         font-size: 0.7rem;
//       }

//       img{
//         width:85%;
//         height: 90%;
//       }
//     }
//   }
// }

// @media screen and (min-width:550px) {
// .footer-container{
//   .top-container{

//     .right-part{
//       display: flex;
//       flex-direction: row;
//       justify-content:space-between;
//       align-items:center;
      

//       ul{
//         display: flex;
//         flex-direction:column;
//         justify-content:flex-start;
//         align-items:flex-start;

      
//       }
//     }
//   }
// }
// }

// @media screen and (min-width:1020px){
//   .footer-container {
//     background-color: #f1f1f1;

//     display: flex;
//     flex-direction: column;

//     padding: 1.3rem;
//     margin: 2rem 0 0 0;


//     font-family: "Poppins", sans-serif;
//     .top-container {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       align-items: center;

//       padding: 1.3rem 0;

//       .left-part {
//         flex: 0.8;
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         .logo {
//           font-family: "Bruno Ace", cursive;
//           line-height: 5rem;
//         }

//         .list-heading {
//           font-size: 1rem;
//           font-weight: 700;
//           line-height: 2rem;
//         }
//         p {
//           line-height: 1.44rem;
//           font-size: 0.9rem;
//         }
//       }
//       .right-part {
//         display: flex;
//         flex-direction: row;
//         gap: 25px;

//         ul {
//           display: flex;
//           flex-direction: column;
//           gap: 8px;

//           h3 {
//             font-size: 1rem;
//           }
//           li {
//             font-size: 0.9rem;
//             cursor: pointer;
//             &:hover {
//               text-decoration: underline;
//             }
//           }
//         }
//       }
//     }
//     .bottom-container {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       align-items: center;

//       padding: 1.2rem 0;

//       .socials {
//         display: flex;
//         flex-direction: row;
//         gap: 20px;

//         p {
//           cursor: pointer;
//         }
//       }
//       .copyright-text {
//         color: grey;
//       }

//       img {
//         cursor: pointer;
//         width: 35%;
//       }
//     }
//   }

// }