.featuredProducts{
 padding: 100px 200px;   
 .top{
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin-bottom: 50px;

    h1{
        flex:2;
    }
    p{
        flex: 3;
        color: grey;
        font-size: 14px;
    }
 }

 .bottom{
    display: flex;
    justify-content: center;
    gap: 50px;
 }
}