.cart{
    position: absolute;
    top:55px;
    right:0;
    z-index: 999;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    gap: 20px;
 border-radius: .6rem;
 box-shadow: -2px -2px 4px grey , 4px 4px 4px grey;
    h2{
        text-align: center;
        color: rgb(148, 146, 146);
        margin-bottom: 20px;
    }
    .item{
        display: flex;
        justify-content: center;
        align-items: center;
       gap: 20px;
       margin-bottom: 20px;
        img{
            flex: 2;
            width: 80px;
            height: 200px;
            object-fit: cover;
            cursor: pointer;
        }
        .details{
            flex:3;
           display: flex;
           flex-direction: column;
           gap: 10px;
           h3{
            color: teal;
            cursor: pointer;
           }
            p{
               font-size: 1rem;
            }
            .price{
                color: green;
                font-weight: 600;
            }
        }
     .deleteButton{
        color: red;
        cursor: pointer;
     }
    }

    .total{
        span{
            font-weight: 600;
        }
    }
    button{
        background-color: #4088fa;
        color: white;
        padding: .7rem;
        border: none;
        border-radius: 0.5rem;
        outline: none;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            background-color: #2879fe;
        }
    }
    .reset{
        color: red;
        text-align: center;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}