@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


  .navbar {
    height: 15vh;

    margin-bottom: .2rem;
    padding: 2.2rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #ff6347;
    color: #ffffff;

    .logo {
      font-size: 2rem;
      letter-spacing: 1.2px;

      font-family: "Bruno Ace", cursive;
    }

    .searchBar {
      flex: 0.4;
      display: flex;
      flex-direction: row;
      align-items: center;

      input#search {
        padding: 0.2rem 0.8rem;
        width: 100%;

        border: none;
        border-top-left-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
        outline: none;

        font-size: 1.1rem;
      }

      .searchBtn {
        background-color: #d4ecf7;

        border: none;
        outline: none;
        border-top-right-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;

        font-size: 0.9rem;

        cursor: pointer;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      gap: 15px;

      li {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        cursor: pointer;

        font-size: 1.1rem;
        color: #fff;
        font-family: "Poppins", sans-serif;
      }

      li > a {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        cursor: pointer;

        font-size: 1.1rem;
        color: #fff;
        font-family: "Poppins", sans-serif;
      }
    }
  }

  .account-dropdown {
    z-index: 2;
    position: absolute;
    top: 75px;
    right: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    padding: 0.8rem 1.2rem;

    background-color: #f1f1f1;
    box-shadow: 1px 1px 6px grey, -1px 0px 6px grey;
    button {
      padding: 0.8rem 1rem;
      border: transparent;
      border-radius: 0.5rem;
      outline: transparent;

      background-color: #ff6347;
      a {
        color: #fff;

        font-size: 1.11rem;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
      }
    }

    p {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      a {
        font-size: 1rem;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        cursor: pointer;

        color: #0707e3;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .account-list {
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          font-size: 1rem;
          font-weight: 500;
          font-family: "Poppins", sans-serif;
          cursor: pointer;
          a {
            color: #000000;
            transition: font-weight 0.2s ease-in-out;
            &:hover {
              text-shadow: 1px 1px #808080;
            }
          }
        }
      }
    }
  }
  .active {
    display: none;
  }

  .categories-list {
    z-index: 2;
    position: absolute;
    top: 70px;
    right: 221px;
    width: 150px;
    padding: 0.8rem 1.3rem;

    background-color: #f1f1f1;
    box-shadow: 1px 1px 6px grey, -1px 0px 6px grey;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        font-size: 1.11rem;
        line-height: 2.3rem;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        a {
          color: #000000;
          transition: font-weight 0.2s ease-in-out;
          &:hover {
            text-shadow: 1px 1px #808080;
          }
        }
      }
    }
  }


// @media screen and (min-width: 350px) {
//   .navbar {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     gap: 20px;
//     height: 40vh;
//   }
//   .searchBar {
//     input {
//       font-size: 0.8rem;

//       &::placeholder {
//         font-size: 0.8rem;
//       }
//     }
//   }

//   .account-dropdown {
//     position: absolute;
//     top: 221px;
//     right: 69px;
//     width: 253px;

//     button > a {
//       font-size: 0.9rem;
//     }

//     p {
//       font-size: 0.9rem;
//       a {
//         font-size: 0.9rem;
//       }
//     }
//     .account-list {
//       ul {
//         li {
//           font-size: 0.9rem;
//         }
//       }
//     }
//   }

//   .categories-list {
//     position: absolute;
//     top: 210px;
//     right: 161px;
//     width: 115px;

//     ul {
//       li {
//         font-size: 0.9rem;
//         line-height: 1.8rem;
//       }
//     }
//   }
// }

// @media screen and (min-width: 450px) {
//   .categories-list {
//     position: absolute;
//     top: 210px;
//     right: 190px;
//     width: 115px;

//     ul {
//       li {
//         font-size: 0.9rem;
//         line-height: 1.8rem;
//       }
//     }
//   }
// }

// @media screen and (min-width: 550px) {
//   .categories-list {
//     position: absolute;
//     top: 210px;
//     right: 258px;
//     width: 115px;

//     ul {
//       li {
//         font-size: 0.9rem;
//         line-height: 1.8rem;
//       }
//     }
//   }
// }

// @media screen and (min-width: 1020px) {
//   .navbar {
//     height: 10vh;

//     margin-bottom: 3rem;
//     padding: 2.2rem 1rem;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;

//     background-color: #ff6347;
//     color: #ffffff;

//     .logo {
//       font-size: 2rem;
//       letter-spacing: 1.2px;

//       font-family: "Bruno Ace", cursive;
//     }

//     .searchBar {
//       flex: 0.4;
//       display: flex;
//       flex-direction: row;
//       align-items: center;

//       input#search {
//         padding: 0.2rem 0.8rem;
//         width: 100%;

//         border: none;
//         border-top-left-radius: 0.4rem;
//         border-bottom-left-radius: 0.4rem;
//         outline: none;

//         font-size: 1.1rem;
//       }

//       .searchBtn {
//         background-color: #d4ecf7;

//         border: none;
//         outline: none;
//         border-top-right-radius: 0.4rem;
//         border-bottom-right-radius: 0.4rem;

//         font-size: 0.9rem;

//         cursor: pointer;
//       }
//     }
//     ul {
//       display: flex;
//       flex-direction: row;
//       gap: 15px;

//       li {
//         display: flex;
//         flex-direction: row;
//         gap: 5px;
//         align-items: center;
//         cursor: pointer;

//         font-size: 1.1rem;
//         color: #fff;
//         font-family: "Poppins", sans-serif;
//       }

//       li > a {
//         display: flex;
//         flex-direction: row;
//         gap: 5px;
//         align-items: center;
//         cursor: pointer;

//         font-size: 1.1rem;
//         color: #fff;
//         font-family: "Poppins", sans-serif;
//       }
//     }
//   }

//   .account-dropdown {
//     position: absolute;
//     top: 57px;
//     right: 20px;
//     width: 350px;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     align-items: center;

//     padding: 0.8rem 1.2rem;

//     background-color: #f1f1f1;
//     box-shadow: 1px 1px 6px grey, -1px 0px 6px grey;
//     button {
//       padding: 0.8rem 1rem;
//       border: transparent;
//       border-radius: 0.5rem;
//       outline: transparent;

//       background-color: #ff6347;
//       a {
//         color: #fff;

//         font-size: 1.11rem;
//         font-weight: 500;
//         font-family: "Poppins", sans-serif;
//         cursor: pointer;
//       }
//     }

//     p {
//       font-size: 1rem;
//       font-weight: 500;
//       font-family: "Poppins", sans-serif;
//       cursor: pointer;
//       a {
//         font-size: 1rem;
//         font-weight: 500;
//         font-family: "Poppins", sans-serif;
//         cursor: pointer;

//         color: #0707e3;

//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }

//     .account-list {
//       ul {
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         li {
//           font-size: 1rem;
//           font-weight: 500;
//           font-family: "Poppins", sans-serif;
//           cursor: pointer;
//           a {
//             color: #000000;
//             transition: font-weight 0.2s ease-in-out;
//             &:hover {
//               text-shadow: 1px 1px #808080;
//             }
//           }
//         }
//       }
//     }
//   }
//   .active {
//     display: none;
//   }

//   .categories-list {
//     position: absolute;
//     top: 47px;
//     right: 221px;
//     width: 150px;
//     padding: 0.8rem 1.3rem;

//     background-color: #f1f1f1;
//     box-shadow: 1px 1px 6px grey, -1px 0px 6px grey;
//     ul {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;

//       li {
//         font-size: 1.11rem;
//         line-height: 2.3rem;
//         font-weight: 500;
//         font-family: "Poppins", sans-serif;
//         cursor: pointer;
//         a {
//           color: #000000;
//           transition: font-weight 0.2s ease-in-out;
//           &:hover {
//             text-shadow: 1px 1px #808080;
//           }
//         }
//       }
//     }
//   }
// }
